* {
    font-family: 'Roboto';
    /*border: red solid 0.5px; /*For visualization*/
}

div, span, .internal-container {
    display: flex;  
}

#container {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#section-header {
    background-color: #121922;    
    flex: 0.5 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-top {
    background-color: #1F2937;    
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-top-sub {
    background-color: #1F2937;    
    flex: auto;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

#section-middle {
    background-color: #FFFFFF;
    /* flex: 6 0 0; */
}


#section-quote {
    background-color: #E5E7EB;
    flex: 6 0 0;
}

#section-bottom {
    background-color: #FFFFFF;
    flex: 3 0 0;
}

#section-footer {
    background-color: #1F2937;    
    flex: 1 0 0;
}

#header-logo, #header-link, #top-left, #top-right {
    width: 500px;
    padding: 10px;
}


/* Header Contents*/
#header-logo {
}

#header-logo > strong {
    font-size: 24px;
    color: #F9FAF8;
}

#header-link {
    justify-content: right;
}

#header-link > p{
    margin: 0px 0px 0px 20px;
    font-size: 18px;
    color: #E5E7EB;
}

/* Section-Top Contents*/

#top-left {
    flex-direction: column;
}

#top-left > *, #top-right > *{
    display: flex;
    margin: 0px;
}

#top-left > button{
    width: 100px;
    border-radius: 4px;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8; 
    font-weight: 900;
}

.hero-main {
    flex: auto;
    font-size: 28px;
    font-weight: 900;  
    color: #F9FAF8; 
}

.hero-secondary {
    font-size: 24px;  
    flex: auto;
    color: #E5E7EB; 
}

#top-right > img {
    max-width: 100%;
    height: auto;
    flex: 1 0 0;
}

#section-middle *{
    display: flex;
    margin: 0px;
}

#section-middle > p {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

#section-middle {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 30px 0 30px 0;
}

#middle-container {
    background-color: #FFFFFF;;    
    flex: auto;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    flex-direction: row;
    gap: 50px;
}

.middle-child {
    width: 200px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.middle-child > img {
    height: 200px;
    border:#2A3335 5px solid;
    border-radius: 20px;
}

.middle-child > p {
    width: 165px;
    font-size: 18px;
    text-align: center;
    color: #1F2937;
}

#section-quote {   
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section-quote * {
    display: flex;   
    margin: 0;
}

#section-quote p:first-child {
    width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

#section-quote p:nth-child(2) {
    width: 800px;
    font-size: 18px;
    font-weight: bolder;
    justify-content:right;
    color: #1F2937;
}

#section-bottom {
    justify-content: center;
    align-content: center;
}

#section-bottom * {
    margin: 0;
    display: flex;
    flex-direction: row;
}

#bottom-container {
    width: 1200px;
    margin: 30px 0 30px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
    background-color: #3882F6;
    border-radius: 10px;
}

#bottom-container div {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#bottom-container p {
    color:#E5E7EB;
}

#bottom-container p:first-child{
    font-size: 24px;
    font-weight: bold;
}

#bottom-container p:nth-child(2) {
    font-size: 18px;
}

#bottom-container button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #E5E7EB;
    border:#E5E7EB solid 2px; 
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#section-footer {
    justify-content: center;
    align-content: center;
}

#section-footer p {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
}



.section-content {
    background-color: #1F2937;    
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-content-inner {
    background-color: #E5E7EB;;    
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 20px 0 20px 0; 
    padding: 20px;
    border-radius: 20px;
}

.content-1 {   
    flex: auto;
    flex-direction: column;
    font-size: 24px;
    color: #1F2937;
    width: 1000px;
    display: flex;
}

.content-2 {
    flex: auto;
    flex-direction: column;
    font-size: 24px;
    color: #1F2937;
    width: 1000px;
    display: none;
}

.content-3 {
    flex: auto;
    flex-direction: column;
    font-size: 24px;
    color: #1F2937;
    width: 1000px;
    display: none;
}

.p-flex {
    flex: auto;
}

ol li, ol ul {
    font-size: 23.5px;
    margin-top: 10px;
}

ul li{
    font-size: 22.5px;
    margin-top: 5px;
}

.red-note {
    color: red;
    font-size: 18px;
}

/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  img:hover .overlay {
    opacity: 1;
  }
  
  .img-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */