* {
    font-family: 'Roboto';
    /*border: red solid 0.5px; /*For visualization*/
}

.hover-effect:hover {
    opacity: 0.50;
}

.theme-header-footer {
    background-color: #212529;
}

.theme-divider {
    background-color: #313438;
}

.theme-section-1 {
    background-color: #6c757d;
}

.theme-section-2 {
    background-color: #e9ecef;
}
